mixin reception 
  section.reception
    .container.reception__row
      .reception__wrapper
        h2.reception__title Запись на косультативный приём к доктору Гусеву Антону Ивановичу
        form.reception__form(method="post")
          .reception__contacts
            .reception__name
              input.reception__input-name(type="text" placeholder="Ваше ФИО" required)
            .reception__tel  
              input.reception__input-tel(type="tel" placeholder="+7 (___) ___-__-__" required)
          .reception__comment
            textarea.reception__input-text(type name="text" placeholder="Подробно опишите вашу проблему...")  
          .reception__button
            button.reception__button-appointment.button-appointment.button Записаться на приём   