.reception {
  background-color: rgba(96, 206, 217, 0.15);

  &__title {
    text-align: center;
    padding: 33px 0 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: $c-font-primary;

    @include lg {
      @include col(1/2);
      margin: 0 auto;
      font-size: 24px;
      line-height: 29px;
      padding: 36px 0 41px;
    }
  }

  &__form {
    @include row;
    justify-content: center;
    font-style: normal;

    @include lg {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__contacts,
  &__comment {
    @include col(3/4);

    @include lg {
      @include col(4/5);
    }
  }

  &__input-name {
    width: 100%;
    border-radius: 20px 0 0 0;
    border: none;
    padding: 17px 24px;
    margin: 9px 0;
    font-size: 14px;
    line-height: 18px;

    @include lg {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__input-tel {
    width: 100%;
    border: none;
    padding: 17px 24px;
    margin: 9px 0;
    font-size: 14px;
    line-height: 18px;

    @include lg {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__input-text {
    width: 100%;
    min-height: 145px;
    border-radius: 0 0 50px 0;
    border: none;
    resize: none;
    padding: 17px 0;
    margin: 16px 0 27px;
    font-size: 14px;
    line-height: 18px;

    @include lg {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__button {
    @include col(3/4);

    @include lg {
      @include col(2/7);
    }
  }

  &__button-appointment {
    width: 100%;
    padding: 15px;
    margin-bottom: 44px;
    font-size: 14px;
    line-height: 17px;

    @include lg {
      font-size: 18px;
      line-height: 22px;
    }
  }
}
