@mixin row {
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

@mixin col($width: 1) {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  width: 100% * $width;
}