html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $f-primary, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: $c-font-primary;
  background-color: $c-bg;
}

svg {
  fill: $c-bg-main;
}
