@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto.woff2") format("woff2"), url("/assets/fonts/roboto.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/robotomedium.woff2") format("woff2"), url("/assets/fonts/robotomedium.woff") format("woff");
  font-weight: 400;
  font-style: medium;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/robotobold.woff2") format("woff2"), url("/assets/fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}
