mixin slider
  section.slider
    .slider__container(id="viewport")  
      .slider__list
        .slider__item
          img(src="assets/img/interior-photo-1.jpg" alt="interior-photo-1")

        .slider__item
          img(src="assets/img/interior-photo-2.jpg" alt="interior-photo-2")

        .slider__item
          img(src="assets/img/interior-photo-3.jpg" alt="interior-photo-3")

        .slider__item
          img(src="assets/img/interior-photo-4.jpg" alt="interior-photo-4")

        .slider__item
          img(src="assets/img/interior-photo-5.jpg" alt="interior-photo-5")

        .slider__item
          img(src="assets/img/interior-photo-6.jpg" alt="interior-photo-6") 


      button.slider__next(id="next") Назад
      button.slider__prev(id="prev") Вперед

    .slider__indicators(id="viewSlider")  
      .slider__indicator
      .slider__indicator
      .slider__indicator
      .slider__indicator
      .slider__indicator
      .slider__indicator
