mixin diagnosis
  section.diagnosis#diagnosis
    .container
      .diagnosis__wrapper
        h2.diagnosis__title Травматолог-ортопед лечит
        ul.diagnosis__list
          li.diagnosis__item 
            img.diagnosis__item-img(src="assets/img/spine.svg" alt="spine")
            p.diagnosis__item-discription 
              | Остеохондроз, остеопороз и остеодистрофии. 
              | Повреждение позвоночника.
              | Сколиотическая болезнь.
              | Искривление позвоночника и нарушение осанки.

          li.diagnosis__item 
            img.diagnosis__item-img(src="assets/img/leg.svg" alt="leg")
            p.diagnosis__item-discription 
              | Деформации развития костей, хрящей, суставов.
              | Повреждения менисков.
              | Растяжения и разрывы суставов.
              | Отморожение конечностей.
              | Переломы и растяжения.

          li.diagnosis__item
            img.diagnosis__item-img(src="assets/img/skull.svg" alt="skull")
            p.diagnosis__item-discription 
              | Черепно-мозговые травмы.
              | Кривошеи.
              | Опухоли костей и хрящей.
              | Аномалии развития.
              | позвоночника.
              | Туннельные синдромы. 

          li.diagnosis__item
            img.diagnosis__item-img(src="assets/img/foot.svg" alt="foot")
            p.diagnosis__item-discription 
              | Плоскостопие, косолапость.
              | Вывих голеностопа.
              | Перелом пяточной кости.
              | Подагру на ноге.
              | Деформацию пальцев стопы.
              | Неравенство длины конечностей.
          .diagnosis__button
            button.diagnosis__button-appointment.button-appointment.button Записаться на приём          