mixin hero 
  section.hero
    .container
      .hero__wrapper
        h1.hero__title Гусев Антон Иванович
        p.hero__discription 
          | Кандидат медицинских наук, хирург травматолог-ортопед высшей медицинской категории.
          | Стаж практической деятельности — 39 лет.
          | Состоит в числе врачей-экспертов в области травматологии-ортопедии г. Санкт-Петербурга.
        .hero__button    
          button.hero__button-appointment.button Записаться на приём!  