mixin method
  section.method#method
    .container
      h2.method__title Запатентованные методики
      .method__list-wrapper
        ul.method__list
          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ лечения привычного вывиха плеча

          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ стабилизации плеча

          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ лечения неполного вывиха акроминального
            | конца ключицы


          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ реконструктивной операции коленного сустава


          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ восстановления функции коленного сустава


          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ лечения деформирующего артроза
            | коленного сустава


          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ восстановления мениска коленного сустава


        ul.method__list
          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ лечения тугого ложного сустава голени


          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ восстановления дистального межберцового
            | синдесмоза голени


          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ коррекции свода стопы при плоскостопии


          li.method__item 
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ стабилизации коленного сустава


          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ восстановления функции лучезапястного сустава


          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ восстановления дистального радио-ульнарного сочленения

          li.method__item
            .method__item-bullet
              .method__item-bullet-circle
              .method__item-bullet-circle
              .method__item-bullet-circle  
            span Способ лечения застарелого повреждения вращательной
            | манжеты плеча 






