mixin method
  section.method 
    .container
      .method__wrapper
        .method__patent
          h2.method__title Запатентованные методики
          .method__list-wrapper
            ul.method__list
              li.method__item Способ лечения привычного вывиха плеча

              li.method__item Способ стабилизации плеча

              li.method__item Способ лечения неполного вывиха акроминального
                | конца ключицы
                span.method__item-marker

              li.method__item Способ реконструктивной операции коленного сустава
                span.method__item-marker

              li.method__item Способ восстановления функции коленного сустава
                span.method__item-marker

              li.method__item Способ лечения деформирующего артроза
                | коленного сустава
                span.method__item-marker

              li.method__item Способ восстановления мениска коленного сустава
                span.method__item-marker
                
            ul.method__list
              li.method__item Способ лечения тугого ложного сустава голени
                span.method__item-marker

              li.method__item Способ восстановления дистального межберцового
                | синдесмоза голени
                span.method__item-marker

              li.method__item Способ коррекции свода стопы при плоскостопии
                span.method__item-marker

              li.method__item Способ стабилизации коленного сустава
                span.method__item-marker

              li.method__item Способ восстановления функции лучезапястного сустава
                span.method__item-marker

              li.method__item Способ восстановления дистального радио-ульнарного сочленения
                span.method__item-marker
              li.method__item Способ лечения застарелого повреждения вращательной
                | манжеты плеча 
                span.method__item-marker





