mixin info 
  section.info#info
    .container
      h2.info__title О враче
      .info__row
        .info__img-col
          img(src="assets/img/doctor-gusev.jpg").info__img
        .info__list
          h3.info__name Гусев Антон Иванович
          p.info__paragraph
            | Травматолог-ортопед, хирург
            | Главный врач клиники МЕДКЛЕВЕР, кандидат медицинских наук, стаж практической работы 39 лет

          p.info__paragraph
            | 15 патентов на способы восстановления суставов и лечение опорно-двигательной системы.

          p.info__paragraph
            | Состоит в числе врачей-экспертов в области травматологии-ортопедии г. Санкт-Петербурга.

          p.info__paragraph 
            | Образование:

          p.info__paragraph
            | Военно-медицинская академия им. С.М. Кирова (2009)
            | 1982 г. — интернатура по специальности «Хирургия с военно-полевой и военно-морской хирургией» на базе ВМА им. С.М. Кирова.
            | 2009 г. — повышение квалификации «Эндовидеохирургия органов брюшной полости и забрюшинного пространства», СЗГМУ им. И.И. Мечникова.
