.info {
  &__row {
    @include row;
    justify-content: center;
  }

  &__img-col {
    @include col(3/4);

    @include lg {
      @include col(2/5);
    }
  }

  &__list {
    @include col(3/4);

    @include lg {
      @include col(3/5);
    }
  }

  &__title {
    padding: 25px 0 27px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: $c-font-primary;

    @include lg {
      padding: 73px 0 81px;
      font-size: 36px;
      line-height: 44px;
    }

    &::after {
      content: "";
      display: block;
      width: 100px;
      height: 2px;
      margin: 11px auto 0;
      background-color: $c-bg-primary;

      @include lg {
        width: 216px;
      }
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 372px;
  }

  &__name {
    font-weight: 700;
    text-transform: uppercase;
    margin: 28px 0 16px;
    font-size: 17px;
    line-height: 21px;
    text-align: center;

    @include lg {
      margin: 0 0 16px;
      font-size: 30px;
      line-height: 33px;
      text-align: left;
    }
  }

  &__paragraph {
    margin: 7px 0 14px;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    text-align: start;
    color: $c-font-secondary;

    @include lg {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
