mixin footer
  footer.footer
    .container
      .footer__wrapper
        .footer__row
          .footer__logo

        .footer__nav
          .footer__nav-item
            a(href="#info").header__nav-link О враче

          .footer__nav-item
            a(href="#method").header__nav-link Методики

          .footer__nav-item
            a(href="#diagnosis").header__nav-link Услуги

          .footer__nav-item
            a(href="#").header__nav-link Контакты 

        .footer__contacts
          .footer__contacts-item.footer__contacts-item--home 8 (812) 509-22-29
          .footer__contacts-item.footer__contacts-item--mobile 8 (969) 709-22-29
          .footer__contacts-item.footer__contacts-item--address Выборгское ш. 27к3

        .footer__button
          button.footer__button-appointment.button-appointment.button Записаться на приём 

      .footer__copyright © 2021 ООО "МЕДКЛЕВЕР" | Все права защищены.
