.interior {
  &__wrapper {
    margin: 0 auto;
    text-align: center;
    width: 75%;
  }

  &__title {
    padding: 25px 0 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: $c-font-primary;

    @include lg {
      padding: 70px 0 87px;
      font-size: 36px;
      line-height: 44px;
    }

    &::after {
      content: "";
      display: block;
      width: 100px;
      height: 2px;
      margin: 11px auto 0;
      background-color: $c-bg-primary;

      @include lg {
        width: 216px;
      }
    }
  }
}
