$c-bg: #ffffff;
$c-bg-card: #f3f3f3;

$c-font: #000000;

$c-primary: #6ebbd3;
$c-primary-lightdark: #379dbe;
$c-primary-dark: #0e617c;

$c-secondary: #1f2021;

$c-accent: #e52d2d;
$c-border: #cacaca;
