$c-bg: #ffffff;
$c-bg-main: #60ced9;

$c-font: #545454;

$c-primary: #6ebbd3;
$c-primary-lightdark: #379dbe;
$c-primary-dark: #0e617c;

$c-secondary: #1f2021;

$c-accent: #e52d2d;
$c-border: #cacaca;
