mixin map 
  .map  
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0d121577502142dba84fd992e8a12e6c154112961b2e54a843eb33a4a33df18f&amp;width=100%25&amp;height=420&amp;lang=ru_RU&amp;scroll=true")
